In [1]:
%load_ext sql

In [2]:

%sql postgresql://allan:Allan20252025@localhost:5432/alx_messaging_app

Connecting to 'postgresql://allan:***@localhost:5432/alx_messaging_app'

In [3]:
%%sql
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

Running query in 'postgresql://allan:***@localhost:5432/alx_messaging_app'

++
||
++
++

In [4]:
%%sql
-- Drop tables with CASCADE to handle dependencies
DROP TABLE IF EXISTS chats_messages CASCADE; -- In case it still exists
DROP TABLE IF EXISTS chats_message CASCADE;
DROP TABLE IF EXISTS message CASCADE; -- New table name
DROP TABLE IF EXISTS chats_conversation_participants CASCADE;
DROP TABLE IF EXISTS chats_conversation CASCADE;
DROP TABLE IF EXISTS chats_user_user_permissions CASCADE;
DROP TABLE IF EXISTS chats_user_groups CASCADE;
DROP TABLE IF EXISTS chats_user CASCADE;
DROP TABLE IF EXISTS auth_permission CASCADE;
DROP TABLE IF EXISTS auth_group CASCADE;

-- Enable uuid-ossp extension
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- Create tables based on Django models
CREATE TABLE auth_group (
    id INTEGER PRIMARY KEY,
    name VARCHAR(150) NOT NULL
);

CREATE TABLE auth_permission (
    id INTEGER PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    content_type_id INTEGER NOT NULL,
    codename VARCHAR(100) NOT NULL
);

CREATE TABLE chats_user (
    user_id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    username VARCHAR(150) NOT NULL UNIQUE,
    email VARCHAR(254) NOT NULL,
    password VARCHAR(128) NOT NULL,
    first_name VARCHAR(100) NOT NULL,
    last_name VARCHAR(100) NOT NULL,
    phone_number VARCHAR(100) NOT NULL,
    bio TEXT,
    profile_image VARCHAR(100),
    last_login TIMESTAMP,
    is_superuser BOOLEAN NOT NULL DEFAULT FALSE,
    is_staff BOOLEAN NOT NULL DEFAULT FALSE,
    is_active BOOLEAN NOT NULL DEFAULT TRUE,
    date_joined TIMESTAMP NOT NULL
);

CREATE TABLE chats_user_groups (
    id BIGSERIAL PRIMARY KEY,
    user_id UUID REFERENCES chats_user(user_id) ON DELETE CASCADE,
    group_id INTEGER REFERENCES auth_group(id) ON DELETE CASCADE
);

CREATE TABLE chats_user_user_permissions (
    id BIGSERIAL PRIMARY KEY,
    user_id UUID REFERENCES chats_user(user_id) ON DELETE CASCADE,
    permission_id INTEGER REFERENCES auth_permission(id) ON DELETE CASCADE
);

CREATE TABLE chats_conversation (
    conversation_id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE chats_conversation_participants (
    id BIGSERIAL PRIMARY KEY,
    conversation_id UUID REFERENCES chats_conversation(conversation_id) ON DELETE CASCADE,
    user_id UUID REFERENCES chats_user(user_id) ON DELETE CASCADE
);

CREATE TABLE chats_message (
    message_id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    conversation_id UUID REFERENCES chats_conversation(conversation_id) ON DELETE CASCADE,
    sender_id UUID REFERENCES chats_user(user_id) ON DELETE CASCADE,
    sent_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    message_body TEXT NOT NULL
);

-- Seed auth_group
INSERT INTO auth_group (id, name) VALUES (1, 'TestGroup') ON CONFLICT (id) DO NOTHING;

-- Seed auth_permission (requires django_content_type entry)
INSERT INTO auth_permission (id, name, content_type_id, codename)
SELECT 1, 'Can view user', id, 'view_user'
FROM django_content_type
WHERE app_label = 'chats' AND model = 'user'
ON CONFLICT (id) DO NOTHING;

-- Seed chats_user (20 users, consistent with model constraints)
INSERT INTO chats_user (user_id, username, email, password, first_name, last_name, phone_number, bio, profile_image, last_login, is_superuser, is_staff, is_active, date_joined) VALUES
('550e8400-e29b-41d4-a716-446655440101', 'wanjikumuthoni1000', 'wanjiku.muthoni1000@example.com', 'pbkdf2_sha256$600000$Q9jXz7vY2kW3$2X7b4Kp9jL8mN3qR5vT6wU9xY2zA1B0cC4D7E8F9G0H=', 'Wanjiku', 'Muthoni', '+254710-123-4567', 'Loves hiking and nature.', 'profiles/wanjiku.jpg', NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440102', 'kamaunjoroge1001', 'kamau.njoroge1001@example.com', 'pbkdf2_sha256$600000$R0kY3wX8zL9m$3Y8c5Lq0jM2nP4rT6xU7vY1zB2A0C3D8E9F0G1H2I=', 'Kamau', 'Njoroge', '+254711-234-5678', NULL, NULL, NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440103', 'akinyiotieno1002', 'akinyi.otieno1002@example.com', 'pbkdf2_sha256$600000$S1lZ4xY9aM0n$4Z9d6Mr1kN3oQ5sU8wV0yZ2B3C4D9E0F1G2H3I4J=', 'Akinyi', 'Otieno', '+254712-345-6789', 'Tech enthusiast.', 'profiles/akinyi.jpg', NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440104', 'mohammedali1003', 'mohammed.ali1003@example.com', 'pbkdf2_sha256$600000$T2mA5yZ0bN1o$5A0e7Ns2lO4pR6tV9xW1zC3D4E5F0G1H2I3J4K5=', 'Mohammed', 'Ali', '+254713-456-7890', NULL, NULL, NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440105', 'njeriwangari1004', 'njeri.wangari1004@example.com', 'pbkdf2_sha256$600000$U3nB6zA1cO2p$6B1f8Ot3mP5qS7uW0yX2zE4F5G6H1I2J3K4L5M6=', 'Njeri', 'Wangari', '+254714-567-8901', 'Book lover.', 'profiles/njeri.jpg', NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440106', 'otienoodhiambo1005', 'otieno.odhiambo1005@example.com', 'pbkdf2_sha256$600000$V4oC7aB2dP3q$7C2g9Pu4nQ6rT8vX1zY3zF5G6H7I2J3K4L5M6N7=', 'Otieno', 'Odhiambo', '+254715-678-9012', NULL, NULL, NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440107', 'fatumaisha1006', 'fatuma.isha1006@example.com', 'pbkdf2_sha256$600000$W5pD8bC3eQ4r$8D3h0Qv5oR7sU9wY2zZ4zG6H7I8J3K4L5M6N7O8=', 'Fatuma', 'Isha', '+254716-789-0123', 'Artist and dreamer.', 'profiles/fatuma.jpg', NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440108', 'kiplangatkip1007', 'kiplangat.kip1007@example.com', 'pbkdf2_sha256$600000$X6qE9cD4fR5s$9E4i1Rw6pS8tV0xZ3zA5zH7I8J9K4L5M6N7O8P9=', 'Kiplangat', 'Kip', '+254717-890-1234', NULL, NULL, NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440109', 'wanjaukimani1008', 'wanjau.kimani1008@example.com', 'pbkdf2_sha256$600000$Y7rF0dE5gS6t$0F5j2Sx7qT9uW1yA4zB6zI8J9K0L5M6N7O8P9Q0=', 'Wanjau', 'Kimani', '+254718-901-2345', 'Fitness enthusiast.', 'profiles/wanjau.jpg', NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440110', 'okothowino1009', 'okoth.owino1009@example.com', 'pbkdf2_sha256$600000$Z8sG1eF6hT7u$1G6k3Ty8rU0vX2zB5zC7zJ9K0L1M6N7O8P9Q0R1=', 'Okoth', 'Owino', '+254719-012-3456', NULL, NULL, NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440111', 'marywanjiru1010', 'mary.wanjiru1010@example.com', 'pbkdf2_sha256$600000$A9tH2fG7iU8v$2H7l4Uz9sV1wY3zC6zD8zK0L1M2N7O8P9Q0R1S2=', 'Mary', 'Wanjiru', '+254720-123-4567', 'Coffee lover.', 'profiles/mary.jpg', NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440112', 'kamauwaithaka1011', 'kamau.waithaka1011@example.com', 'pbkdf2_sha256$600000$B0uI3gH8jV9w$3I8m5Va0tW2xZ4zD7zE9zL1M2N3O8P9Q0R1S2T3=', 'Kamau', 'Waithaka', '+254721-234-5678', NULL, NULL, NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440113', 'lucyawino1012', 'lucy.awino1012@example.com', 'pbkdf2_sha256$600000$C1vJ4hI9kW0x$4J9n6Wb1uX3yA5zE8zF0zM2N3O4P9Q0R1S2T3U4=', 'Lucy', 'Awino', '+254722-345-6789', 'Avid traveler.', 'profiles/lucy.jpg', NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440114', 'hassanmohammed1013', 'hassan.mohammed1013@example.com', 'pbkdf2_sha256$600000$D2wK5iJ0lX1y$5K0o7Xc2vY4zB6zF9zG1zN3O4P5Q0R1S2T3U4V5=', 'Hassan', 'Mohammed', '+254723-456-7890', NULL, NULL, NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440115', 'chepkoechcherono1014', 'chepkoech.cherono1014@example.com', 'pbkdf2_sha256$600000$E3xL6jK1mY2z$6L1p8Yd3wZ5aC7zG0zH2zO4P5Q6R1S2T3U4V5W6=', 'Chepkoech', 'Cherono', '+254724-567-8901', 'Nature photographer.', 'profiles/chepkoech.jpg', NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440116', 'odhiambootieno1015', 'odhiambo.otieno1015@example.com', 'pbkdf2_sha256$600000$F4yM7kL2nZ3a$7M2q9Ze4xA6bD8zH1zI3zP5Q6R7S2T3U4V5W6X7=', 'Odhiambo', 'Otieno', '+254725-678-9012', NULL, NULL, NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440117', 'aishafatuma1016', 'aisha.fatuma1016@example.com', 'pbkdf2_sha256$600000$G5zN8lM3oA4b$8N3r0Af5yB7cE9zI2zJ4zQ6R7S8T3U4V5W6X7Y8=', 'Aisha', 'Fatuma', '+254726-789-0123', 'Music lover.', 'profiles/aisha.jpg', NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440118', 'kipronocheruiyot1017', 'kiprono.cheruiyot1017@example.com', 'pbkdf2_sha256$600000$H6aO9mN4pB5c$9O4s1Bg6zC8dF0zJ3zK5zR7S8T9U4V5W6X7Y8Z9=', 'Kiprono', 'Cheruiyot', '+254727-890-1234', NULL, NULL, NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440119', 'wanguikamau1018', 'wangui.kamau1018@example.com', 'pbkdf2_sha256$600000$I7bP0nO5qC6d$0P5t2Ch7aD9eG1zK4zL6zS8T9U0V5W6X7Y8Z9A0=', 'Wangui', 'Kamau', '+254728-901-2345', 'Foodie and chef.', 'profiles/wangui.jpg', NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440120', 'githinjiwachira1019', 'githinji.wachira1019@example.com', 'pbkdf2_sha256$600000$J8cQ1oP6rD7e$1Q6u3Di8bE0fH2zL5zM7zT9U0V1W6X7Y8Z9A0B1=', 'Githinji', 'Wachira', '+254729-012-3456', NULL, NULL, NULL, FALSE, FALSE, TRUE, '2025-05-31 05:00:00')
ON CONFLICT (user_id) DO NOTHING;

-- Seed chats_user_groups (5 users in group_id=1)
INSERT INTO chats_user_groups (user_id, group_id) VALUES
('550e8400-e29b-41d4-a716-446655440101', 1),
('550e8400-e29b-41d4-a716-446655440102', 1),
('550e8400-e29b-41d4-a716-446655440103', 1),
('550e8400-e29b-41d4-a716-446655440104', 1),
('550e8400-e29b-41d4-a716-446655440105', 1)
ON CONFLICT DO NOTHING;

-- Seed chats_user_user_permissions (3 users with permission_id=1)
INSERT INTO chats_user_user_permissions (user_id, permission_id) VALUES
('550e8400-e29b-41d4-a716-446655440101', 1),
('550e8400-e29b-41d4-a716-446655440102', 1),
('550e8400-e29b-41d4-a716-446655440103', 1)
ON CONFLICT DO NOTHING;

-- Seed chats_conversation (5 conversations)
INSERT INTO chats_conversation (conversation_id, created_at, updated_at) VALUES
('550e8400-e29b-41d4-a716-446655440201', '2025-05-31 05:00:00', '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440202', '2025-05-31 05:00:00', '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440203', '2025-05-31 05:00:00', '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440204', '2025-05-31 05:00:00', '2025-05-31 05:00:00'),
('550e8400-e29b-41d4-a716-446655440205', '2025-05-31 05:00:00', '2025-05-31 05:00:00')
ON CONFLICT (conversation_id) DO NOTHING;

-- Seed chats_conversation_participants (2 participants per conversation)
INSERT INTO chats_conversation_participants (conversation_id, user_id) VALUES
('550e8400-e29b-41d4-a716-446655440201', '550e8400-e29b-41d4-a716-446655440101'),
('550e8400-e29b-41d4-a716-446655440201', '550e8400-e29b-41d4-a716-446655440102'),
('550e8400-e29b-41d4-a716-446655440202', '550e8400-e29b-41d4-a716-446655440103'),
('550e8400-e29b-41d4-a716-446655440202', '550e8400-e29b-41d4-a716-446655440104'),
('550e8400-e29b-41d4-a716-446655440203', '550e8400-e29b-41d4-a716-446655440105'),
('550e8400-e29b-41d4-a716-446655440203', '550e8400-e29b-41d4-a716-446655440106'),
('550e8400-e29b-41d4-a716-446655440204', '550e8400-e29b-41d4-a716-446655440107'),
('550e8400-e29b-41d4-a716-446655440204', '550e8400-e29b-41d4-a716-446655440108'),
('550e8400-e29b-41d4-a716-446655440205', '550e8400-e29b-41d4-a716-446655440109'),
('550e8400-e29b-41d4-a716-446655440205', '550e8400-e29b-41d4-a716-446655440110')
ON CONFLICT DO NOTHING;

-- Seed message (10 messages)
INSERT INTO chats_message (message_id, conversation_id, sender_id, sent_at, message_body) VALUES
('550e8400-e29b-41d4-a716-446655440301', '550e8400-e29b-41d4-a716-446655440201', '550e8400-e29b-41d4-a716-446655440101', '2025-05-31 05:01:00', 'Hey, how’s it going?'),
('550e8400-e29b-41d4-a716-446655440302', '550e8400-e29b-41d4-a716-446655440201', '550e8400-e29b-41d4-a716-446655440102', '2025-05-31 05:02:00', 'All good, you?'),
('550e8400-e29b-41d4-a716-446655440303', '550e8400-e29b-41d4-a716-446655440202', '550e8400-e29b-41d4-a716-446655440103', '2025-05-31 05:03:00', 'Working on a new project!'),
('550e8400-e29b-41d4-a716-446655440304', '550e8400-e29b-41d4-a716-446655440202', '550e8400-e29b-41d4-a716-446655440104', '2025-05-31 05:04:00', 'Nice, tell me more!'),
('550e8400-e29b-41d4-a716-446655440305', '550e8400-e29b-41d4-a716-446655440203', '550e8400-e29b-41d4-a716-446655440105', '2025-05-31 05:05:00', 'Planning a hike this weekend.'),
('550e8400-e29b-41d4-a716-446655440306', '550e8400-e29b-41d4-a716-446655440203', '550e8400-e29b-41d4-a716-446655440106', '2025-05-31 05:06:00', 'Count me in!'),
('550e8400-e29b-41d4-a716-446655440307', '550e8400-e29b-41d4-a716-446655440204', '550e8400-e29b-41d4-a716-446655440107', '2025-05-31 05:07:00', 'Any good book recommendations?'),
('550e8400-e29b-41d4-a716-446655440308', '550e8400-e29b-41d4-a716-446655440204', '550e8400-e29b-41d4-a716-446655440108', '2025-05-31 05:08:00', 'Try "Sapiens"!'),
('550e8400-e29b-41d4-a716-446655440309', '550e8400-e29b-41d4-a716-446655440205', '550e8400-e29b-41d4-a716-446655440109', '2025-05-31 05:09:00', 'What’s the plan for today?'),
('550e8400-e29b-41d4-a716-446655440310', '550e8400-e29b-41d4-a716-446655440205', '550e8400-e29b-41d4-a716-446655440110', '2025-05-31 05:10:00', 'Just chilling, you?')
ON CONFLICT (message_id) DO NOTHING;

Running query in 'postgresql://allan:***@localhost:5432/alx_messaging_app'

1 rows affected.

1 rows affected.

20 rows affected.

5 rows affected.

3 rows affected.

5 rows affected.

10 rows affected.

10 rows affected.

++
||
++
++

In [5]:
%%sql
SELECT * FROM chats_message;

Running query in 'postgresql://allan:***@localhost:5432/alx_messaging_app'

10 rows affected.

+--------------------------------------+--------------------------------------+--------------------------------------+---------------------+--------------------------------+
|              message_id              |           conversation_id            |              sender_id               |       sent_at       |          message_body          |
+--------------------------------------+--------------------------------------+--------------------------------------+---------------------+--------------------------------+
| 550e8400-e29b-41d4-a716-446655440301 | 550e8400-e29b-41d4-a716-446655440201 | 550e8400-e29b-41d4-a716-446655440101 | 2025-05-31 05:01:00 |      Hey, how’s it going?      |
| 550e8400-e29b-41d4-a716-446655440302 | 550e8400-e29b-41d4-a716-446655440201 | 550e8400-e29b-41d4-a716-446655440102 | 2025-05-31 05:02:00 |         All good, you?         |
| 550e8400-e29b-41d4-a716-446655440303 | 550e8400-e29b-41d4-a716-446655440202 | 550e8400-e29b-41d4-a716-446655440103 | 2025-05-31 05:03:00 |   Working on a new project!    |
| 550e8400-e29b-41d4-a716-446655440304 | 550e8400-e29b-41d4-a716-446655440202 | 550e8400-e29b-41d4-a716-446655440104 | 2025-05-31 05:04:00 |      Nice, tell me more!       |
| 550e8400-e29b-41d4-a716-446655440305 | 550e8400-e29b-41d4-a716-446655440203 | 550e8400-e29b-41d4-a716-446655440105 | 2025-05-31 05:05:00 | Planning a hike this weekend.  |
| 550e8400-e29b-41d4-a716-446655440306 | 550e8400-e29b-41d4-a716-446655440203 | 550e8400-e29b-41d4-a716-446655440106 | 2025-05-31 05:06:00 |          Count me in!          |
| 550e8400-e29b-41d4-a716-446655440307 | 550e8400-e29b-41d4-a716-446655440204 | 550e8400-e29b-41d4-a716-446655440107 | 2025-05-31 05:07:00 | Any good book recommendations? |
| 550e8400-e29b-41d4-a716-446655440308 | 550e8400-e29b-41d4-a716-446655440204 | 550e8400-e29b-41d4-a716-446655440108 | 2025-05-31 05:08:00 |         Try "Sapiens"!         |
| 550e8400-e29b-41d4-a716-446655440309 | 550e8400-e29b-41d4-a716-446655440205 | 550e8400-e29b-41d4-a716-446655440109 | 2025-05-31 05:09:00 |   What’s the plan for today?   |
| 550e8400-e29b-41d4-a716-446655440310 | 550e8400-e29b-41d4-a716-446655440205 | 550e8400-e29b-41d4-a716-446655440110 | 2025-05-31 05:10:00 |      Just chilling, you?       |
+--------------------------------------+--------------------------------------+--------------------------------------+---------------------+--------------------------------+
Truncated to displaylimit of 10.

In [6]:
%%sql
SELECT * FROM chats_user;

Running query in 'postgresql://allan:***@localhost:5432/alx_messaging_app'

20 rows affected.

+--------------------------------------+--------------------+---------------------------------+--------------------------------------------------------------------------------+------------+-----------+------------------+--------------------------+----------------------+------------+--------------+----------+-----------+---------------------+
|               user_id                |      username      |              email              |                                    password                                    | first_name | last_name |   phone_number   |           bio            |    profile_image     | last_login | is_superuser | is_staff | is_active |     date_joined     |
+--------------------------------------+--------------------+---------------------------------+--------------------------------------------------------------------------------+------------+-----------+------------------+--------------------------+----------------------+------------+--------------+----------+-----------+---------------------+
| 550e8400-e29b-41d4-a716-446655440101 | wanjikumuthoni1000 | wanjiku.muthoni1000@example.com | pbkdf2_sha256$600000$Q9jXz7vY2kW3$2X7b4Kp9jL8mN3qR5vT6wU9xY2zA1B0cC4D7E8F9G0H= |  Wanjiku   |  Muthoni  | +254710-123-4567 | Loves hiking and nature. | profiles/wanjiku.jpg |    None    |    False     |  False   |    True   | 2025-05-31 05:00:00 |
| 550e8400-e29b-41d4-a716-446655440102 |  kamaunjoroge1001  |  kamau.njoroge1001@example.com  |  pbkdf2_sha256$600000$R0kY3wX8zL9m$3Y8c5Lq0jM2nP4rT6xU7vY1zB2A0C3D8E9F0G1H2I=  |   Kamau    |  Njoroge  | +254711-234-5678 |           None           |         None         |    None    |    False     |  False   |    True   | 2025-05-31 05:00:00 |
| 550e8400-e29b-41d4-a716-446655440103 |  akinyiotieno1002  |  akinyi.otieno1002@example.com  |  pbkdf2_sha256$600000$S1lZ4xY9aM0n$4Z9d6Mr1kN3oQ5sU8wV0yZ2B3C4D9E0F1G2H3I4J=   |   Akinyi   |   Otieno  | +254712-345-6789 |     Tech enthusiast.     | profiles/akinyi.jpg  |    None    |    False     |  False   |    True   | 2025-05-31 05:00:00 |
| 550e8400-e29b-41d4-a716-446655440104 |  mohammedali1003   |   mohammed.ali1003@example.com  |   pbkdf2_sha256$600000$T2mA5yZ0bN1o$5A0e7Ns2lO4pR6tV9xW1zC3D4E5F0G1H2I3J4K5=   |  Mohammed  |    Ali    | +254713-456-7890 |           None           |         None         |    None    |    False     |  False   |    True   | 2025-05-31 05:00:00 |
| 550e8400-e29b-41d4-a716-446655440105 |  njeriwangari1004  |  njeri.wangari1004@example.com  |   pbkdf2_sha256$600000$U3nB6zA1cO2p$6B1f8Ot3mP5qS7uW0yX2zE4F5G6H1I2J3K4L5M6=   |   Njeri    |  Wangari  | +254714-567-8901 |       Book lover.        |  profiles/njeri.jpg  |    None    |    False     |  False   |    True   | 2025-05-31 05:00:00 |
| 550e8400-e29b-41d4-a716-446655440106 | otienoodhiambo1005 | otieno.odhiambo1005@example.com |   pbkdf2_sha256$600000$V4oC7aB2dP3q$7C2g9Pu4nQ6rT8vX1zY3zF5G6H7I2J3K4L5M6N7=   |   Otieno   |  Odhiambo | +254715-678-9012 |           None           |         None         |    None    |    False     |  False   |    True   | 2025-05-31 05:00:00 |
| 550e8400-e29b-41d4-a716-446655440107 |   fatumaisha1006   |   fatuma.isha1006@example.com   |   pbkdf2_sha256$600000$W5pD8bC3eQ4r$8D3h0Qv5oR7sU9wY2zZ4zG6H7I8J3K4L5M6N7O8=   |   Fatuma   |    Isha   | +254716-789-0123 |   Artist and dreamer.    | profiles/fatuma.jpg  |    None    |    False     |  False   |    True   | 2025-05-31 05:00:00 |
| 550e8400-e29b-41d4-a716-446655440108 |  kiplangatkip1007  |  kiplangat.kip1007@example.com  |   pbkdf2_sha256$600000$X6qE9cD4fR5s$9E4i1Rw6pS8tV0xZ3zA5zH7I8J9K4L5M6N7O8P9=   | Kiplangat  |    Kip    | +254717-890-1234 |           None           |         None         |    None    |    False     |  False   |    True   | 2025-05-31 05:00:00 |
| 550e8400-e29b-41d4-a716-446655440109 |  wanjaukimani1008  |  wanjau.kimani1008@example.com  |   pbkdf2_sha256$600000$Y7rF0dE5gS6t$0F5j2Sx7qT9uW1yA4zB6zI8J9K0L5M6N7O8P9Q0=   |   Wanjau   |   Kimani  | +254718-901-2345 |   Fitness enthusiast.    | profiles/wanjau.jpg  |    None    |    False     |  False   |    True   | 2025-05-31 05:00:00 |
| 550e8400-e29b-41d4-a716-446655440110 |   okothowino1009   |   okoth.owino1009@example.com   |   pbkdf2_sha256$600000$Z8sG1eF6hT7u$1G6k3Ty8rU0vX2zB5zC7zJ9K0L1M6N7O8P9Q0R1=   |   Okoth    |   Owino   | +254719-012-3456 |           None           |         None         |    None    |    False     |  False   |    True   | 2025-05-31 05:00:00 |
+--------------------------------------+--------------------+---------------------------------+--------------------------------------------------------------------------------+------------+-----------+------------------+--------------------------+----------------------+------------+--------------+----------+-----------+---------------------+
Truncated to displaylimit of 10.

In [7]:
%%sql
-- Create a sequence for auth_permission.id
CREATE SEQUENCE IF NOT EXISTS auth_permission_id_seq;

-- Set the current max id as the sequence’s starting point
SELECT setval('auth_permission_id_seq', (SELECT COALESCE(MAX(id), 0) FROM auth_permission));

-- Alter the id column to use the sequence
ALTER TABLE auth_permission
    ALTER COLUMN id SET DATA TYPE INTEGER,
    ALTER COLUMN id SET DEFAULT nextval('auth_permission_id_seq'),
    ALTER COLUMN id SET NOT NULL;

-- Ensure the sequence is owned by the id column
ALTER SEQUENCE auth_permission_id_seq OWNED BY auth_permission.id;

Running query in 'postgresql://allan:***@localhost:5432/alx_messaging_app'

1 rows affected.

++
||
++
++